In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!pip install googletrans==3.1.0a0

Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.4 MB/s
Collecting hstspreload
  Downloading hstspreload-2021.10.1-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 17.1 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.2 MB/s
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.5.30)
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 3.5 MB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.1 MB/s
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=a1d5b3c9bbd675cf5d391e0a1a12e8913ed3bc15ab68860726885530928c035b
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.10.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [4]:
from googletrans import Translator
translator = Translator()
en_sen = "I am fine"
bn_sen = translator.translate(en_sen, dest='bn')
bn_sen.text

'আমি ভালো আছি'

In [5]:
import pandas as pd
read_file = pd.read_csv (r'/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k.token.txt',sep='\t')
read_file.to_csv (r'/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k.token.csv', index = False)

In [6]:
df = pd.read_csv('/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k.token.csv')
print(len(df))
df.head(20)

40459

    1000268201_693b08cb0e.jpg#0 A child in a pink dress is climbing up a set of stairs in an entry way .
0   1000268201_693b08cb0e.jpg#1              A girl going into a wooden building .
1   1000268201_693b08cb0e.jpg#2   A little girl climbing into a wooden playhouse .
2   1000268201_693b08cb0e.jpg#3  A little girl climbing the stairs to her playh...
3   1000268201_693b08cb0e.jpg#4  A little girl in a pink dress going into a woo...
4   1001773457_577c3a7d70.jpg#0         A black dog and a spotted dog are fighting
5   1001773457_577c3a7d70.jpg#1  A black dog and a tri-colored dog playing with...
6   1001773457_577c3a7d70.jpg#2  A black dog and a white dog with brown spots a...
7   1001773457_577c3a7d70.jpg#3  Two dogs of different breeds looking at each o...
8   1001773457_577c3a7d70.jpg#4    Two dogs on pavement moving toward each other .
9   1002674143_1b742ab4b8.jpg#0  A little girl covered in paint sits in front o...
10  1002674143_1b742ab4b8.jpg#1  A little girl is sitting in front of a large p...
11  1002674143_1b742ab4b8.jpg#2  A small girl in the grass plays with fingerpai...
12  1002674143_1b742ab4b8.jpg#3  There is a girl with pigtails sitting in front...
13  1002674143_1b742ab4b8.jpg#4  Young girl with pigtails painting outside in t...
14  1003163366_44323f5815.jpg#0  A man lays on a bench while his dog sits by him .
15  1003163366_44323f5815.jpg#1  A man lays on the bench to which a white dog i...
16  1003163366_44323f5815.jpg#2  a man sleeping on a bench outside with a white...
17  1003163366_44323f5815.jpg#3  A shirtless man lies on a park bench with his ...
18  1003163366_44323f5815.jpg#4  man laying on bench holding leash of dog sitti...
19  1007129816_e794419615.jpg#0     A man in an orange hat starring at something .

In [7]:
df3 = df.rename(columns = {'1000268201_693b08cb0e.jpg#0': 'image', 'A child in a pink dress is climbing up a set of stairs in an entry way .': 'caption'}, inplace = False)
#df = pd.concat([df2, df])
#df.head()
df3.head(20)

                          image                                            caption
0   1000268201_693b08cb0e.jpg#1              A girl going into a wooden building .
1   1000268201_693b08cb0e.jpg#2   A little girl climbing into a wooden playhouse .
2   1000268201_693b08cb0e.jpg#3  A little girl climbing the stairs to her playh...
3   1000268201_693b08cb0e.jpg#4  A little girl in a pink dress going into a woo...
4   1001773457_577c3a7d70.jpg#0         A black dog and a spotted dog are fighting
5   1001773457_577c3a7d70.jpg#1  A black dog and a tri-colored dog playing with...
6   1001773457_577c3a7d70.jpg#2  A black dog and a white dog with brown spots a...
7   1001773457_577c3a7d70.jpg#3  Two dogs of different breeds looking at each o...
8   1001773457_577c3a7d70.jpg#4    Two dogs on pavement moving toward each other .
9   1002674143_1b742ab4b8.jpg#0  A little girl covered in paint sits in front o...
10  1002674143_1b742ab4b8.jpg#1  A little girl is sitting in front of a large p...
11  1002674143_1b742ab4b8.jpg#2  A small girl in the grass plays with fingerpai...
12  1002674143_1b742ab4b8.jpg#3  There is a girl with pigtails sitting in front...
13  1002674143_1b742ab4b8.jpg#4  Young girl with pigtails painting outside in t...
14  1003163366_44323f5815.jpg#0  A man lays on a bench while his dog sits by him .
15  1003163366_44323f5815.jpg#1  A man lays on the bench to which a white dog i...
16  1003163366_44323f5815.jpg#2  a man sleeping on a bench outside with a white...
17  1003163366_44323f5815.jpg#3  A shirtless man lies on a park bench with his ...
18  1003163366_44323f5815.jpg#4  man laying on bench holding leash of dog sitti...
19  1007129816_e794419615.jpg#0     A man in an orange hat starring at something .

In [8]:
df2 = pd.DataFrame([['1000268201_693b08cb0e.jpg#0',	'A child in a pink dress is climbing up a set of stairs in an entry way .']], columns=['image','caption'])
df2

                         image                                            caption
0  1000268201_693b08cb0e.jpg#0  A child in a pink dress is climbing up a set o...

In [9]:
df = pd.concat([df2, df3])
df.head()

                         image                                            caption
0  1000268201_693b08cb0e.jpg#0  A child in a pink dress is climbing up a set o...
0  1000268201_693b08cb0e.jpg#1              A girl going into a wooden building .
1  1000268201_693b08cb0e.jpg#2   A little girl climbing into a wooden playhouse .
2  1000268201_693b08cb0e.jpg#3  A little girl climbing the stairs to her playh...
3  1000268201_693b08cb0e.jpg#4  A little girl in a pink dress going into a woo...

In [10]:
df.to_csv (r'/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k.token.csv', index = False)

In [11]:
df = pd.read_csv('/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k.token.csv')
df.head(20)

                          image                                            caption
0   1000268201_693b08cb0e.jpg#0  A child in a pink dress is climbing up a set o...
1   1000268201_693b08cb0e.jpg#1              A girl going into a wooden building .
2   1000268201_693b08cb0e.jpg#2   A little girl climbing into a wooden playhouse .
3   1000268201_693b08cb0e.jpg#3  A little girl climbing the stairs to her playh...
4   1000268201_693b08cb0e.jpg#4  A little girl in a pink dress going into a woo...
5   1001773457_577c3a7d70.jpg#0         A black dog and a spotted dog are fighting
6   1001773457_577c3a7d70.jpg#1  A black dog and a tri-colored dog playing with...
7   1001773457_577c3a7d70.jpg#2  A black dog and a white dog with brown spots a...
8   1001773457_577c3a7d70.jpg#3  Two dogs of different breeds looking at each o...
9   1001773457_577c3a7d70.jpg#4    Two dogs on pavement moving toward each other .
10  1002674143_1b742ab4b8.jpg#0  A little girl covered in paint sits in front o...
11  1002674143_1b742ab4b8.jpg#1  A little girl is sitting in front of a large p...
12  1002674143_1b742ab4b8.jpg#2  A small girl in the grass plays with fingerpai...
13  1002674143_1b742ab4b8.jpg#3  There is a girl with pigtails sitting in front...
14  1002674143_1b742ab4b8.jpg#4  Young girl with pigtails painting outside in t...
15  1003163366_44323f5815.jpg#0  A man lays on a bench while his dog sits by him .
16  1003163366_44323f5815.jpg#1  A man lays on the bench to which a white dog i...
17  1003163366_44323f5815.jpg#2  a man sleeping on a bench outside with a white...
18  1003163366_44323f5815.jpg#3  A shirtless man lies on a park bench with his ...
19  1003163366_44323f5815.jpg#4  man laying on bench holding leash of dog sitti...

In [12]:
result = []
for cap in df['caption']:
    result.append(translator.translate(cap, dest = 'bn'))
print(len(result))

40460

In [13]:
newdf = df.iloc[:40460]
print(len(newdf))

40460

In [14]:
only_cap_bn = []
for i in result:
  only_cap_bn.append(i.text)
print(len(only_cap_bn))

40460

In [20]:
tmp = newdf.assign(bengali_caption = only_cap_bn)

In [22]:
tmp.head()

                         image  ...                                    bengali_caption
0  1000268201_693b08cb0e.jpg#0  ...  গোলাপী পোশাকে একটি শিশু প্রবেশের পথে সিঁড়ির এ...
1  1000268201_693b08cb0e.jpg#1  ...               একটা মেয়ে একটা কাঠের দালানে যাচ্ছে।
2  1000268201_693b08cb0e.jpg#2  ...             একটি ছোট্ট মেয়ে কাঠের খেলার ঘরে উঠছে।
3  1000268201_693b08cb0e.jpg#3  ...  একটি ছোট মেয়ে সিঁড়ি বেয়ে তার খেলার ঘরের দিক...
4  1000268201_693b08cb0e.jpg#4  ...  একটি ছোট মেয়ে একটি গোলাপী পোশাক একটি কাঠের কে...

[5 rows x 3 columns]

In [23]:
here = tmp
here

                             image  ...                                    bengali_caption
0      1000268201_693b08cb0e.jpg#0  ...  গোলাপী পোশাকে একটি শিশু প্রবেশের পথে সিঁড়ির এ...
1      1000268201_693b08cb0e.jpg#1  ...               একটা মেয়ে একটা কাঠের দালানে যাচ্ছে।
2      1000268201_693b08cb0e.jpg#2  ...             একটি ছোট্ট মেয়ে কাঠের খেলার ঘরে উঠছে।
3      1000268201_693b08cb0e.jpg#3  ...  একটি ছোট মেয়ে সিঁড়ি বেয়ে তার খেলার ঘরের দিক...
4      1000268201_693b08cb0e.jpg#4  ...  একটি ছোট মেয়ে একটি গোলাপী পোশাক একটি কাঠের কে...
...                            ...  ...                                                ...
40455   997722733_0cb5439472.jpg#0  ...           A man in a pink shirt climbs a rock face
40456   997722733_0cb5439472.jpg#1  ...           A man is rock climbing high in the air .
40457   997722733_0cb5439472.jpg#2  ...  A person in a red shirt climbing up a rock fac...
40458   997722733_0cb5439472.jpg#3  ...                    A rock climber in a red shirt .
40459   997722733_0cb5439472.jpg#4  ...  A rock climber practices on a rock climbing wa...

[40460 rows x 3 columns]

In [24]:
del here['caption']
here

                             image                                    bengali_caption
0      1000268201_693b08cb0e.jpg#0  গোলাপী পোশাকে একটি শিশু প্রবেশের পথে সিঁড়ির এ...
1      1000268201_693b08cb0e.jpg#1               একটা মেয়ে একটা কাঠের দালানে যাচ্ছে।
2      1000268201_693b08cb0e.jpg#2             একটি ছোট্ট মেয়ে কাঠের খেলার ঘরে উঠছে।
3      1000268201_693b08cb0e.jpg#3  একটি ছোট মেয়ে সিঁড়ি বেয়ে তার খেলার ঘরের দিক...
4      1000268201_693b08cb0e.jpg#4  একটি ছোট মেয়ে একটি গোলাপী পোশাক একটি কাঠের কে...
...                            ...                                                ...
40455   997722733_0cb5439472.jpg#0           A man in a pink shirt climbs a rock face
40456   997722733_0cb5439472.jpg#1           A man is rock climbing high in the air .
40457   997722733_0cb5439472.jpg#2  A person in a red shirt climbing up a rock fac...
40458   997722733_0cb5439472.jpg#3                    A rock climber in a red shirt .
40459   997722733_0cb5439472.jpg#4  A rock climber practices on a rock climbing wa...

[40460 rows x 2 columns]

In [25]:
here.to_csv('/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k_bengali.token.csv', index= False)

In [26]:
newdf_gc=pd.read_csv('/content/drive/MyDrive/datasets/Flicker8k/captions/Flickr8k_bengali.token.csv')
newdf_gc.head(100)

                          image                                    bengali_caption
0   1000268201_693b08cb0e.jpg#0  গোলাপী পোশাকে একটি শিশু প্রবেশের পথে সিঁড়ির এ...
1   1000268201_693b08cb0e.jpg#1               একটা মেয়ে একটা কাঠের দালানে যাচ্ছে।
2   1000268201_693b08cb0e.jpg#2             একটি ছোট্ট মেয়ে কাঠের খেলার ঘরে উঠছে।
3   1000268201_693b08cb0e.jpg#3  একটি ছোট মেয়ে সিঁড়ি বেয়ে তার খেলার ঘরের দিক...
4   1000268201_693b08cb0e.jpg#4  একটি ছোট মেয়ে একটি গোলাপী পোশাক একটি কাঠের কে...
..                          ...                                                ...
95   102351840_323e3de834.jpg#0              একজন মানুষ বরফে একটি গর্ত ড্রিল করছে।
96   102351840_323e3de834.jpg#1  একজন মানুষ পুকুরের হিমায়িত বরফ দিয়ে ড্রিল করছে।
97   102351840_323e3de834.jpg#2    তুষারে একজন ব্যক্তি বরফের একটি গর্ত ড্রিল করছে।
98   102351840_323e3de834.jpg#3        হিমায়িত হ্রদে দাঁড়িয়ে থাকা একজন ব্যক্তি।
99   102351840_323e3de834.jpg#4                               দুই জন বরফ মাছ ধরছে।

[100 rows x 2 columns]

In [27]:
len(newdf_gc)

40460